body {
   display: flex;
   flex-wrap: wrap;
}

// ELEMENTS WITH 100% WIDTH
.header,
.section-plans,
.partners,
.footer {
   width: 100%;
}

.header {
	color: $color-secondary;
   .overlay {
      height: 100vh;
      position: relative;
      background-attachment: fixed;
      background: linear-gradient(
      	to right bottom,
         rgba($color-tertiary, .6),
         rgba($color-tertiary, .8)
	   );

 		&__video {
         position: absolute;
         top: 0;
         left: 0;
			width: 100%;
			height: 100%;
         z-index: -1;
         object-fit: cover;
      }
    
      &__content-box {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 80%;
         text-align: center;
      }
      &__title {
         font-size: 4.5rem;
         font-style: italic;
         font-weight: normal;
      }
   }
}

.section-plans {
   background: rgba($color-tertiary, .8);
   padding: 10rem;
}

.location {
   width: 30%;
   background: #be0a79;
}

.testimonials {
   width: 70%;
   background: rgba($color-tertiary, .9);
   padding: 5rem;
   position: relative;
}

.partners {
	color: $color-secondary;
   padding: 10rem;
   padding-top: 5rem;
   background: rgba($color-tertiary, .8);
   &__list {
		background: $color-secondary;
		padding: 5rem;
      &::after {
         content: "";
         display: table;
         clear: both;
      }
   }

   &__item {
	   float: left;
	   width: calc((100% - (8 * 1rem)) / 4);
      margin: 1rem;
   }
}

.footer {
   background: rgba($color-tertiary, .7);
   color: $color-secondary;
   &__wrapper {
      display: flex;
      flex-wrap: wrap;
   }

   &__footer__logo-box {
      width: 30%;
   }
   
   &__logo {
      
   }

   &__nav {
      flex: 1;
      vertical-align: middle;
   }
   //-------------------

   &__social-media {
      text-align: center;
      &__link {
         &:not(:last-child) { margin-right: 1.5rem}
      }

      &__icon {
         @include setSvgDimentions(3rem);
      }
   }
}