.header {
	color: $color-secondary;
   .overlay {
      height: 100vh;
      position: relative;
      background-attachment: fixed;
      background: linear-gradient(
      	to right bottom,
         rgba($color-tertiary, .6),
         rgba($color-tertiary, .8)
	   );

 		&__video {
         position: absolute;
         top: 0;
         left: 0;
			width: 100%;
			height: 100%;
         z-index: -1;
         object-fit: cover;
      }
    
      &__content-box {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 80%;
         text-align: center;
      }
      &__title {
         font-size: 4.5rem;
         font-style: italic;
         font-weight: normal;
      }
   }
}

.section-plans {
   background: rgba($color-tertiary, .8);
   padding: 10rem;
}


.gallery {
   padding: 10rem 15rem;
   &__cover {
      
   }
   &__img {
      width: 100%;
   }
}

.location {
   background: #be0a79;
}

.testimonials {
   padding: 5rem;
   display: flex;
   justify-content: space-between;
   background: rgba($color-tertiary, .5);
}

.partners {
	color: $color-secondary;
   padding: 10rem;
   padding-top: 5rem;
   background: rgba($color-tertiary, .8);
   &__list {
		background: $color-secondary;
		padding: 5rem;
      &::after {
         content: "";
         display: table;
         clear: both;
      }
   }

   &__item {
	   float: left;
	   width: calc((100% - (8 * 1rem)) / 4);
      margin: 1rem;
   }
}

.footer {
   padding: 5rem 5rem 1rem 5rem;
   background: #012c36;
   color: $color-secondary;
   &__navigation {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
   }
   // Navigation menu
   .menu {
      list-style: none;
      &__item:not(:last-child) {
         margin-bottom: .2rem;
      }
      &__link {
         &:link,
         &:visited {
            text-transform: capitalize;
            text-decoration: none;
            color: $color-secondary;
            font-weight: 500;
            transition: opacity .2s;
         }
         &:hover {
            opacity: .6;
         }
      }
   }
   .social {
      display: flex;
      list-style: none;
      justify-content: center;
      align-items: flex-start;
      &__item:not(:last-child) {
         margin-right: 2rem;
         
      }
      &__link {
         display: inline-block;
         transition: opacity .2s;
         &:hover {
            opacity: .6;
         }
      }
      &__icon {
         @include setSvgDimentions(3rem);
      }
   }
}








