.plans {
    display: flex;
    justify-content: space-between;
    .plan {
        background: $color-secondary;
        width: calc((100% - 8rem) / 3);
        padding: 2rem;
        text-align: center;
        transition: transform .2s ease-in-out;
        cursor: pointer;
        &:hover {
            transform: translateY(-5px);
        }
        &__icon {
            display: block;
           @include setSvgDimentions(5rem);
            margin: 0 auto;
            fill: #f82738;
        }
        &__name {
    
        }
    
        &__details {
            list-style: none;
        }
    
        &__detail {
            text-transform: capitalize;
            &:not(:last-child) {
                margin-bottom: .5rem;
            }
        }
    }
}

