.plans {
    display: flex;
    justify-content: space-between;
    .plan {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $color-secondary;
        width: calc((100% - 8rem) / 3);
        padding: 2rem;
        transition: transform .2s ease-in-out;
        font-size: 1.5rem;
        // cursor: pointer;
        &:hover {
            transform: translateY(-2px);
        }
        &__icon {
            display: block;
            @include setSvgDimentions(5rem);
        }
        &__name {
    
        }
    
        &__details {
            list-style: none;
        }
    
        &__detail {
            text-transform: capitalize;
            &:not(:last-child) {
                margin-bottom: .5rem;
            }
        }
    }
}

