.heading-1, .heading-2, .heading-3, .heading-4, .heading-5 {
    @include setHeading () {
        color: $color-primary-light-gray;
        font-family: $font-2;
    }
}


.heading-1 {
    font-size: $fs-heading-1;
    @include setLetterSpacing(5px);
}

.heading-2 {
    font-size: $fs-heading-2;
}


.heading-3 {
    font-size: $fs-heading-3;
}

.heading-4 {
    font-size: $fs-heading-4;
}

.heading-5 {
    font-size: $fs-heading-5;
}