$color-primary: #777;
$color-secondary: #fff;
$color-tertiary: #000;
$color-primary-light-gray: #ccc;
$color-orange: #f09825;

// FONTS

$font-df: 'Raleway';
$font-2: 'Yanone Kaffeesatz';


// FONT-SIZES

$fs-heading-1: 6rem;

$fs-heading-2: 5rem;

$fs-heading-3: 4rem;

$fs-heading-4: 3rem;

$fs-heading-5: 2rem;
