html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.7;
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img,
video,
object,
embed {
  max-width: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header,
.section-plans,
.partners,
.footer {
  width: 100%;
}

.header {
  color: #fff;
}

.header .overlay {
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
}

.header .overlay__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .overlay__content-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

.header .overlay__title {
  font-size: 4.5rem;
  font-style: italic;
  font-weight: normal;
}

.section-plans {
  background: rgba(0, 0, 0, 0.8);
  padding: 10rem;
}

.location {
  width: 30%;
  background: #be0a79;
}

.testimonials {
  width: 70%;
  background: rgba(0, 0, 0, 0.9);
  padding: 5rem;
  position: relative;
}

.partners {
  color: #fff;
  padding: 10rem;
  padding-top: 5rem;
  background: rgba(0, 0, 0, 0.8);
}

.partners__list {
  background: #fff;
  padding: 5rem;
}

.partners__list::after {
  content: "";
  display: table;
  clear: both;
}

.partners__item {
  float: left;
  width: calc((100% - (8 * 1rem)) / 4);
  margin: 1rem;
}

.footer {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__footer__logo-box {
  width: 30%;
}

.footer__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  vertical-align: middle;
}

.footer__social-media {
  text-align: center;
}

.footer__social-media__link:not(:last-child) {
  margin-right: 1.5rem;
}

.footer__social-media__icon {
  width: 3rem;
  height: 3rem;
}

.heading-1, .heading-2, .heading-3, .heading-4, .heading-5 {
  color: #ccc;
  font-family: "Yanone Kaffeesatz";
}

.heading-1 {
  font-size: 6rem;
  letter-spacing: 5px;
}

.heading-2 {
  font-size: 5rem;
}

.heading-3 {
  font-size: 4rem;
}

.heading-4 {
  font-size: 3rem;
}

.heading-5 {
  font-size: 2rem;
}

.u-mb-xs {
  margin-bottom: 10px !important;
}

.u-mb-sm {
  margin-bottom: 20px !important;
}

.u-mb-md {
  margin-bottom: 30px !important;
}

.u-mb-lg {
  margin-bottom: 40px !important;
}

.u-mb-xl {
  margin-bottom: 50px !important;
}

.u-ct {
  text-align: center !important;
}

.u-fw-1 {
  font-weight: 100 !important;
}

.u-fw-2 {
  font-weight: 200 !important;
}

.u-fw-3 {
  font-weight: 300 !important;
}

.u-fw-4 {
  font-weight: 400 !important;
}

.u-fw-5 {
  font-weight: 500 !important;
}

.u-fw-6 {
  font-weight: 600 !important;
}

.u-fw-7 {
  font-weight: 700 !important;
}

.plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plans .plan {
  background: #fff;
  width: calc((100% - 8rem) / 3);
  padding: 2rem;
  text-align: center;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  cursor: pointer;
}

.plans .plan:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.plans .plan__icon {
  display: block;
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  fill: #f82738;
}

.plans .plan__details {
  list-style: none;
}

.plans .plan__detail {
  text-transform: capitalize;
}

.plans .plan__detail:not(:last-child) {
  margin-bottom: .5rem;
}

.testimonial {
  padding: 2rem;
  background: #fff;
  border-radius: 2rem 0 2rem 0;
}

.testimonial .client {
  text-align: center;
  margin-bottom: 5px;
}

.testimonial .client__photo {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.testimonial .client__testimony {
  font-style: italic;
}

.testimonial-toggler {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: none;
  border: none;
  padding: 1rem;
}

.testimonial-toggler__icon {
  width: 2rem;
  height: 2rem;
  fill: #fff;
}

.testimonial-toggler--prev {
  left: 0;
}

.testimonial-toggler--next {
  right: 0;
}

.cta-btn:link, .cta-btn:visited {
  text-transform: capitalize;
  text-decoration: none;
  padding: 1rem 2.5rem;
  display: inline-block;
  font-size: 1.8rem;
  border: 2px solid #f09825;
  color: #f09825;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.cta-btn:active, .cta-btn:hover {
  background: #f09825;
  color: #000;
}

.cta-btn--icon {
  width: 1.6rem;
  height: 1.6rem;
}
/*# sourceMappingURL=main.css.map */